Source: {{ cookiecutter.source }}
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: {{ cookiecutter.maintainer_name }} <{{ cookiecutter.maintainer_email }}>
Build-Depends:
 debhelper-compat (= {{ cookiecutter.debhelper }}),
 dh-python,
 python3-all,
 python3-setuptools,
{%- if cookiecutter.sphinx_root != "" %}
 python3-sphinx,
{%- endif %}
Standards-Version: {{ cookiecutter.standards_version }}
Homepage: {{ cookiecutter.upstream_url }}
Vcs-Browser: https://salsa.debian.org/python-team/modules/{{ cookiecutter.source }}
Vcs-Git: https://salsa.debian.org/python-team/modules/{{ cookiecutter.source }}.git
Testsuite: autopkgtest-pkg-python

Package: python3-{{ cookiecutter.package }}
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
{%- if cookiecutter.sphinx_root != "" %}
Suggests: python-{{ cookiecutter.package }}-doc
{%- endif %}
Description: {{ cookiecutter.short_description }} (Python3 version)
 .
 This package contains the Python 3 version of the library.

{%- if cookiecutter.sphinx_root != "" %}
Package: python-{{ cookiecutter.package }}-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${sphinxdoc:Depends}
Description: {{ cookiecutter.short_description }} (Documentation)
 .
 This package contains the documentation.
{%- endif %}
