#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PYBUILD_NAME={{ cookiecutter.package }}

%:
	dh $@ --with python3{% if cookiecutter.sphinx_root != ""%},sphinxdoc{% endif %} --buildsystem=pybuild

{%- if cookiecutter.sphinx_root != "" %}
override_dh_sphinxdoc:
ifeq (,$(findstring nodoc, $(DEB_BUILD_OPTIONS)))
	PYTHONPATH=. python3 -m sphinx -b html -d {{ cookiecutter.sphinx_root }}/.build/.doctrees -N {{ cookiecutter.sphinx_root }} $(CURDIR)/debian/python-{{ cookiecutter.package }}-doc/usr/share/doc/python-{{ cookiecutter.package }}-doc/html
	dh_sphinxdoc
endif
{%- endif %}
